{% include 'header.twig' %}

{% include 'sidebar.twig' %}

{% include 'breadcrumb.twig' %}

<div class="container-fluid">

    <div class="animated fadeIn">

        <div class="row">
            <div class="col-lg-12">
                <div class="card text-white bg-warning">
                    <div class="card-header">
                        Warning
                    </div>
                    <div class="card-body">
                        Looks as if something should be done here.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% include 'fooder.twig' %}