<!-- /.conainer-fluid -->
</main>

</div>

<footer class="app-footer">
    <a href="http://coreui.io">Paperyard</a> © 2017 consider it GmbH.
    <span class="float-right">Powered by <i class="fa fa-heart text-danger" aria-hidden="true"></i>
        </span>
</footer>


<!-- Bootstrap and necessary plugins -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-notify.min.js"></script>
<script src="/static/js/change-lang.js"></script>
<script src="/static/js/paperyard.js"></script>

<!-- Plugin Scripts required by this view -->
{% for plugin in plugins.js %}
<script src="/static/js/plugins/{{ plugin }}.js"></script>
{% endfor %}

<!-- Flash messages -->
<script>
    $(function () {
        {% for msg in flash('error') %}
        $.notify({
            message: '{{ msg }}'
        },{
            type: 'danger'
        });
        {% endfor %}
    });
</script>

<!-- Genesis UI main scripts -->
<script src="/static/js/app.js"></script>

</body>

</html>