<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Paperyard - Open Source Naming Tool">
    <title>Paperyard - Open Source Naming Tool</title>

    <!-- Icons -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/simple-line-icons.css" rel="stylesheet">
    <link href="/static/css/bootstrap-tagsinput.css" rel="stylesheet">

    <!-- Main styles for this application -->
    <link href="/static/css/style.min.css" rel="stylesheet">

    <!-- Paperyard styles -->
    <link href="/static/css/paperyard.css" rel="stylesheet">
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">☰</button>
    <a class="navbar-brand" href="/"></a>
    <button class="navbar-toggler sidebar-minimizer d-md-down-none" type="button">☰</button>

    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" href="/">Dashboard</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="/docs">Docs</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="/setting">Settings</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none">
            <!-- <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a> -->
        </li>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">