<!DOCTYPE html>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Paperyard</title>

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Paperyard CSS -->
    <link rel="stylesheet" href="/static/css/paperyard.css">
</head>
<body>