{% extends 'layout.twig' %}

{% block content %}

<div class="container-fluid">

    <div class="animated fadeIn">

        <div class="row">

            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-file"></i>
                        </div>
                        <div class="h4 mb-0">{{ scannedToday }}</div>
                        <small class="text-muted text-uppercase font-weight-bold">{% trans "scanned total" %}</small>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="h4 mb-0">{{ toConfirm }}
                        </div>
                        <small class="text-muted text-uppercase font-weight-bold">{% trans "to confirm" %}</small>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="card{% if ocrFailures > 0 %} bg-warning text-white{% endif %}">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-exclamation-triangle"></i>
                        </div>
                        <div class="h4 mb-0">{{ ocrFailures }}</div>
                        <small class="text-muted text-uppercase font-weight-bold">{% trans "ocr failures" %}</small>
                    </div>
                </div>
            </div>

        </div><!--/.row-->
    </div>

</div>

{% endblock %}