<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/"><i class="fa fa-tachometer"></i> Home</a>
        </li>

        <li class="nav-title">
            Documents
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/docs"><i class="fa fa-clock-o"></i> Latest</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/docs/archive"><i class="fa fa-archive"></i> Archive</a>
        </li>

        <li class="divider"></li>
        <li class="nav-title">
            Rules
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rules/senders"><i class="fa fa-building"></i> Senders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rules/subjects"><i class="fa fa-header"></i> Subjects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rules/recipients"><i class="fa fa-group"></i> Recipients</a>
        </li>
        {#<li class="nav-item">#}
            {#<a class="nav-link" href="/rules/archive"><i class="fa fa-archive"></i> Archive</a>#}
        {#</li>#}

        <li class="divider"></li>
        <li class="nav-title">
            Extras
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/phpliteadmin" target="_top"><i class="fa fa-database"></i> phpLiteAdmin</a>
        </li>

    </ul>
</nav>
</div>