<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/"><i class="fa fa-tachometer"></i> {% trans "Home" %}</a>
        </li>

        <li class="nav-title">
            {% trans "Documents" %}
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/docs"><i class="fa fa-clock-o"></i> {% trans "Latest" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/docs/archive"><i class="fa fa-archive"></i> {% trans "Archive" %}</a>
        </li>

        <li class="divider"></li>
        <li class="nav-title">
            {% trans "Rules" %}
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rules/senders"><i class="fa fa-building"></i> {% trans "Senders" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rules/subjects"><i class="fa fa-header"></i> {% trans "Subjects" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rules/recipients"><i class="fa fa-group"></i> {% trans "Recipients" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rules/archives"><i class="fa fa-archive"></i> {% trans "Archive" %}</a>
        </li>

        <li class="divider"></li>
        <li class="nav-title">
            {% trans "Extras" %}
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/phpliteadmin" target="_top"><i class="fa fa-database"></i> phpLiteAdmin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/shell-log" target="_top"><i class="fa fa-terminal"></i> Shell Log</a>
        </li>

    </ul>
</nav>
</div>