{% extends 'layout.twig' %}

{% block content %}

<div class="container-fluid">

    <div class="animated fadeIn">

        <div class="row">

            <div class="col-lg-12">

                <div class="card">
                    <form action="/rules/recipients/save" method="post">
                        <div class="card-header">
                            {% trans "Rule Details" %}
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="recipientName"><strong>{% trans "Long Name" %}</strong></label>
                                <input type="text" class="form-control" name="recipientName" id="recipientName" value="{{ rule.recipientName }}">
                            </div>
                            <div class="form-group">
                                <label for="shortNameForFile"><strong>{% trans "Name For File" %}</strong></label>
                                <input type="text" class="form-control" name="shortNameForFile" id="shortNameForFile" value="{{ rule.shortNameForFile }}">
                            </div>
                            <div class="form-group">
                                <label for="isActive"><strong>{% trans "Status" %}</strong></label><br>
                                <label class="switch switch-xl switch-default switch-info">
                                    <input type="hidden" name="isActive" value="off">
                                    <input type="checkbox" class="switch-input" name="isActive" id="isActive"{% if rule.isActive == 1 %} checked{% endif %}>
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="hidden" name="ruleId" value="{{ rule.id }}">
                            <button type="submit" class="btn btn-md btn-success">{% trans "save" %}</button>
                            <div class="pull-right">
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                                    {% trans "delete" %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div><!-- /.row -->
    </div>

</div>

{% include 'rule_delete_modal.twig' with {'type': 'recipients'} %}

{% endblock %}